#nombre {
    
    border-radius: 20px;
    
}

#apellido {

    border-radius:  20px;
}



form {
    
    background-color: gray;
    
    font-style:italic;
    color:white
    
}


#enviar {
  
background-color:cornflowerblue;

}
